body {
    background: rgb(240, 239, 230);
  }
  
  
  
  
  .slick-slider {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .slick-slider img {
    padding: 20px;
    margin: 0t auto;
  }

  .slick-item-wrapper {
      display:block;
      vertical-align: middle;
  }
  

  .slick-slide {
    height: 150px;
    background:red;
  }

  .my-slide {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  


  /* slider-io rodykles cia */
  .slick-prev:before, 
  .slick-next:before {
      color: black;
  }